{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block head_title %}
    {% trans "+Estagio - Email de Recuperação Enviado" %}
{% endblock head_title %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {{ block.super }}
{% endblock extra_head %}

{% block content %}
    <div class="container-login">
        <div class="login-form">
            <img src="{% static 'img/logo.png' %}" alt="Logo +Estagio" class="logo">

            <div class='text-login'>
                <h1>Email de Recuperação Enviado</h1>
                <p>Verifique sua caixa de entrada para redefinir sua senha</p>
            </div>

            {% if user.is_authenticated %}
                <div class="alert alert-info">
                    {% include "account/snippets/already_logged_in.html" %}
                </div>
            {% endif %}

            <div class="message-container">
                <div class="alert alert-success">
                    <div class="message-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="message-content">
                        {% blocktrans %}Enviamos um email para você. Se não recebeu, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não recebê-lo em alguns minutos.{% endblocktrans %}
                    </div>
                </div>
            </div>

            <div class="additional-actions">
                <a href="{% url 'account_login' %}" class="back-to-login">
                    <i class="fas fa-arrow-left"></i> Voltar para o login
                </a>
            </div>
        </div>

        <div class="image-side">
            <div class="incentive-message">
                <h2>Encontre o estágio perfeito para você!</h2>
                <p>Conecte-se com as melhores instituições e dê o primeiro passo na sua carreira.</p>
            </div>
        </div>
    </div>
{% endblock content %}