<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {%load static %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% include "partials/nav-bar.html" %}
    <div class="content">
        <div class="content-left">
            <h2>
                Um sistema para<br>
                gerenciamento eficiente de<br>
                estágios
            </h2>
            <img class = "image"src="{% static 'img/img_home.png' %}" alt="">
        </div>
        
        <div class="content-right">
            <button class="btn-user">Para Empresa</button>
            <button class="btn-user">Para Aluno</button>
            <button class="btn-user">Para Instituição</button>
        </div>
    </div> 

</body>
</html>