{% load static %}
<header class="navbar-dashboard">
    <div class="logo">
        {% if request.user.is_authenticated and request.user.coordenadorextensao.instituicao.logo %}
            <img src="{{ request.user.coordenadorextensao.instituicao.logo.url }}" alt="Logo da Instituição">
        {% else %}
            <img src="{% static 'img/logo.png' %}" alt="Logo +Estágio">
        {% endif %}
    </div>
    <nav class="navbar-nav">
        {% url 'account_login' as login_url_ %}
        {% if user.is_authenticated %}
            <div class="navbar-user">
                <a title="Notificação" href="#" class="notif-btn"><i class="fa-regular fa-bell"></i></a>
                <div class="user-info">
                    <span class="initials-user">{{ request.user.username|slice:":2"|upper }}</span>
                    <span class="user-name">{{ request.user.username }}</span>
                    <div class="user-dropdown">
                        <button title="User logout-edit" class="user-button" onclick="toggleDropdown()" id="userDropdownButton">
                            <i class="fa-solid fa-chevron-down"></i> <!-- Ícone de usuário -->
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <button class="btn-logout" id="openModal">Logout</button>
                            <a href="{% url 'editar_perfil' %}">
                                <button class="btn-editar" id="openModal2">Editar Perfil</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="navbar-menu">
                {% url 'home' as inicio_url_ %}
                {% if inicio_url_ %}
                    <a href="{{ inicio_url_ }}">Inicio</a>
                {% endif %}
                {% if login_url_ %}
                    <a href="{{ login_url_ }}">Login</a>
                {% endif %}
                <a href="#">Contato</a>
                <a href="#">Sobre</a>
            </div>
        {% endif %}
    </nav>
</header> 