@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {	
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    border-radius: 25px;
    padding: 2px 25px;
    width: 60%;
    height: 700px;
    background-color: #E3FFE3;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.header {
    width: 88%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header h1 {
    margin-left: 20px;
}

.date {
    font-weight: bold;
}

.status {
    background-color: red;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.info-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    margin-left: 10%;
    width: 80%;

    height: 80%;
}

.center hr {
    height: 2px;
    background-color: black;
}

.info {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding:  6px 0;
}

.info .info-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
}

.info .info-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    white-space: nowrap;
}

.image {
    width: 20px;
}

.Attachment-text {
    color: #2d8538;
    font-weight: bold;
}

.return {
    width: 100%;
    display: flex;
    justify-content: right;   
}

.btn-return {
    width: 80px;
    height: 30px;
    background-color: #2d8538;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 2%;
    transition: all 0.3s ease;
}

.btn-return:hover {
    background-color: green; 
    color: white; 
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}