body {
    font-family: Inter;
    margin: 0;
}

.container {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.content {
    padding: auto;
    width: 40%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    background-color: RGB(238, 255, 238);
    border: 3px solid RGB(204, 237, 201);
    border-radius: 20px;
    box-shadow: 0 4px 10px RGB(227, 236, 227);  
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 50%;
    height: 20px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid RGB(204, 237, 201);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Inter, sans-serif;
}

h1 {
    color: #14AE5C;
}

.content a {
    text-decoration: none;
    color: RGB(20, 174, 92); 
}

.content button {
    width: 268px;
    height: 39px;
    background-color: RGB(20, 174, 92);
    border: 0;
    border-radius: 10px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.Header {
    background-color: RGB(238, 255, 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.navbar-li li a {
    text-decoration: none;
    color: RGB(20, 174, 92);
}

.navbar-li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
    
}

body {
    font-family: Inter;
    margin: 0;
}



input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 50%;
    height: 20px;
    padding: 5px;
    margin:3px 0;
    border: 1px solid RGB(204, 237, 201);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: Inter, sans-serif;
}


h1 {
    color: #14AE5C;
}

link {
    text-decoration: none;
}

.content-signup a {
    text-decoration: none;
    color: RGB(20, 174, 92); 
}

.content-signup button {
    width: 268px;
    height: 39px;
    background-color: RGB(20, 174, 92);
    border: 0;
    border-radius: 10px;
    color: white;
}

.content-signup .button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}