{% extends "cadastro/base.html" %}
{% load static %}

{% block content %}
<div class="container-login">
    <!-- Área do Formulário -->
    <div class="login-form" >
        <img src="{% static 'img/logo.png' %}" alt="Logo +Estagio" class="logo">

        <div class='text-login'>
            <h1>Selecione o Tipo de Cadastro</h1>
            <p>Escolha abaixo o tipo de cadastro que deseja realizar</p>
        </div>

        <div class="registration-options" style="margin-top: 40px;">
            <div class="option-card" onclick="window.location.href='{% url 'cadastro_instituicao' %}'">
                <div class="option-icon" style="background-color: #31afb4;">
                    <i class="fas fa-university" style="font-size: 24px; color: white;"></i>
                </div>
                <div class="option-content">
                    <h3>Instituição de Ensino</h3>
                    <p>Acompanhe o desempenho dos seus estudantes e gerencie documentos de forma eficiente.</p>
                </div>
                <div class="option-arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>

            <div class="option-card" onclick="window.location.href='{% url 'cadastro_aluno' %}'">
                <div class="option-icon" style="background-color:rgb(46, 141, 204);">
                    <i class="fas fa-user-graduate" style="font-size: 24px; color: white;"></i>
                </div>
                <div class="option-content">
                    <h3>Aluno</h3>
                    <p>Registre suas atividades, acompanhe seu progresso e comunique-se com supervisores.</p>
                </div>
                <div class="option-arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Área da Imagem -->
    <div class="image-side">
        <div class="incentive-message">
            <h2>A ponte entre estudantes, empresas e instituições.</h2>
            <p>Tudo o que você precisa para gerenciar seu estágio, em um só lugar.</p>
        </div>
    </div>
</div>

<!-- Incluindo Font Awesome para os ícones -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}