{% extends "dashboard/base.html" %}

{% block content %}

<div class="cadastro-container-dashboard">
<h2>Cadastro de Estágio</h2>
<form method="post">
  {% csrf_token %}

  {% if form.errors %}
    <div class="form-errors">
        <p class="error-message">Por favor, corrija os seguintes erros:</p>
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li class="error-message"> {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

  <p>Dados estágio:</p>
  <div class="form-coordenador">
    <div class="form-linha1">
      <div class="form-inicial">
      
        <label for="{{ form.estagiario.id_for_label }}" class="form-label">Estagiário:</label>
        
        {{ form.estagiario }}

        {% comment %} {% for error in form.estagiario.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {% endcomment %}
      </div>
      <div class="form-inicial {% if form.empresa.errors %}has-error{% endif %}">
        <label for="{{ form.empresa.id_for_label }}" class="form-label">Empresa:</label>
        {{ form.empresa }}
        {% comment %} {% for error in form.empresa.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {% endcomment %}
      </div>
      <div class="form-inicial {% if form.instituicao.errors %}has-error{% endif %}">
        <label for="{{ form.instituicao.id_for_label }}" class="form-label">Instituição de Ensino:</label>
        {{ form.instituicao }}
        {% comment %} {% for error in form.instituicao.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {% endcomment %}
      </div>
      <div class="form-inicial {% if form.supervisor.errors %}has-error{% endif %}">
        <label for="{{ form.supervisor.id_for_label }}" class="form-label">Supervisor:</label>
        {{ form.supervisor }}
        {% comment %} {% for error in form.supervisor.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %} {% endcomment %}
      </div>
    </div>

    <div class="form-linha1">
      <div class="form-inicial {% if form.turno.errors %}has-error{% endif %}">
        <label for="{{ form.turno.id_for_label }}" class="form-label">Turno:</label>
        {{ form.turno }}
        {% for error in form.turno.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-inicial {% if form.area.errors %}has-error{% endif %}">
        <label for="{{ form.area.id_for_label }}" class="form-label">Área:</label>
        {{ form.area }}
        {% for error in form.area.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-inicial {% if form.tipo_estagio.errors %}has-error{% endif %}">
        <label for="{{ form.tipo_estagio.id_for_label }}" class="form-label">Tipo:</label>
        {{ form.tipo_estagio }}
        {% for error in form.tipo_estagio.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-inicial {% if form.orientador.errors %}has-error{% endif %}">
        <label for="{{ form.orientador.id_for_label }}" class="form-label">Orientador:</label>
        {{ form.orientador }}
        {% for error in form.orientador.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
    </div>

    <div class="form-linha1">
      <div class="form-inicial">
        <label for="{{ form.bolsa_estagio.id_for_label }}" class="form-label">Bolsa de Estágio:</label>
        {{ form.bolsa_estagio }}
        
      </div>
      <div class="form-inicial {% if form.auxilio_transporte.errors %}has-error{% endif %}">
        <label for="{{ form.auxilio_transporte.id_for_label }}" class="form-label">Auxílio Transporte:</label>
        {{ form.auxilio_transporte }}
        {% for error in form.auxilio_transporte.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-inicial {% if form.data_inicio.errors %}has-error{% endif %}">
        <label for="{{ form.data_inicio.id_for_label }}" class="form-label">Data Início:</label>
        {{ form.data_inicio }}
        {% for error in form.data_inicio.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-inicial {% if form.data_fim.errors %}has-error{% endif %}">
        <label for="{{ form.data_fim.id_for_label }}" class="form-label">Data de Término:</label>
        {{ form.data_fim }}
        
        {% for error in form.data_fim.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
    </div>

    <div class="form-linha1">
      <div class="form-inicial {% if form.descricao.errors %}has-error{% endif %}">
        <label for="{{ form.descricao.id_for_label }}" class="form-label">Descrição:</label>
        {{ form.descricao }}
        {% for error in form.descricao.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-inicial {% if form.status.errors %}has-error{% endif %}">
        <label for="{{ form.status.id_for_label }}" class="form-label">Ativo:</label>
        {{ form.status }}
        {% for error in form.status.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <button class="btn-user-signup" type="submit" name="cadastrar_estagio">Cadastrar</button>
</form>
</div>
{% endblock %}