{% extends "dashboard/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    <div class="cadastro-container-dashboard">
        <h2>Cadastro de Empresa</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-linha1">
                <div class="form-inicial">
                    <label for="{{ form.empresa_cnpj.id_for_label }}" class="form-label">CNPJ:</label>
                    {{ form.empresa_cnpj }}
                </div>
                <div class="form-inicial">
                    <label for="{{ form.empresa_nome.id_for_label }}" class="form-label">Nome da Empresa:</label>
                    {{ form.empresa_nome }}
                </div>
                <div class="form-inicial">
                    <label for="{{ form.empresa_razao_social.id_for_label }}" class="form-label">Razão Social:</label>
                    {{ form.empresa_razao_social }}
                </div>
                <div class="form-inicial">
                    <label for="{{ form.empresa_atividades.id_for_label }}" class="form-label">Atividades:</label>
                    {{ form.empresa_atividades }}
                </div>
            </div>

            <p>Endereço:</p>
            <div class="form-endereco">
                <label for="{{ form.cep.id_for_label }}" class="form-label">CEP:</label>
                {{ form.cep }}
                <div class="form-linha1">
                    <div class="form-inicial">
                        <label for="{{ form.rua.id_for_label }}" class="form-label">Rua:</label>
                        {{ form.rua }}
                    </div>
                    <div class="form-inicial">
                        <label for="{{ form.numero.id_for_label }}" class="form-label">Número:</label>
                        {{ form.numero }}
                    </div>
                    <div class="form-inicial">
                        <label for="{{ form.bairro.id_for_label }}" class="form-label">Bairro:</label>
                        {{ form.bairro }}
                    </div>
                </div>
                <div class="form-linha1">
                    <div class="form-inicial">
                        <label for="{{ form.cidade.id_for_label }}" class="form-label">Cidade:</label>
                        {{ form.cidade }}
                    </div>
                    <div class="form-inicial">
                        <label for="{{ form.estado.id_for_label }}" class="form-label">Estado:</label>
                        {{ form.estado }}
                    </div>
                </div>
            </div>

            <p>Supervisor:</p>
            <div class="form-coordenador">
                <div class="form-linha1">
                    <div class="form-inicial">
                        <label for="{{ form.primeiro_nome.id_for_label }}" class="form-label">Primeiro Nome:</label>
                        {{ form.primeiro_nome }}
                    </div>
                    <div class="form-inicial">
                        <label for="{{ form.sobrenome.id_for_label }}" class="form-label">Sobrenome:</label>
                        {{ form.sobrenome }}
                    </div>
                    <div class="form-inicial">
                        <label for="{{ form.cpf.id_for_label }}" class="form-label">CPF:</label>
                        {{ form.cpf }}
                    </div>
                </div>
                <div class="form-inicial">
                    <label for="{{ form.cargo.id_for_label }}" class="form-label">Cargo:</label>
                    {{ form.cargo }}
                </div>
                <div class="form-inicial">
                    <label for="{{ form.telefone.id_for_label }}" class="form-label">Telefone:</label>
                    {{ form.telefone }}
                </div>
                <div class="form-inicial">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                    {{ form.email }}
                </div>
            </div>

            <button type="submit" class="btn-user-signup">Cadastrar</button>
        </form>
    </div><script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#id_cep').on('blur', function() {
            let cep = $(this).val().replace(/\D/g, ''); // Remove caracteres não numéricos
    
            if (cep.length === 8) {
                $.ajax({
                    url: "{% url 'buscar_cep' %}", // URL da view
                    method: "GET",
                    data: { cep: cep }, // Dados enviados para o servidor
                    success: function(data) {
                        // Preenche os campos com os dados retornados
                        $('#id_rua').val(data.logradouro);
                        $('#id_bairro').val(data.bairro);
                        $('#id_cidade').val(data.cidade);
                        $('#id_estado').val(data.estado);
                    },
                    error: function(xhr) {
                        alert(xhr.responseJSON.error || 'Erro ao buscar o CEP.');
                    }
                });
            } else {
                alert('CEP inválido! Digite 8 números.');
            }
        });
    });

    $(document).ready(function() {
        $('#id_telefone').mask('(00) 00000-0000');
        $('#id_empresa_cnpj').on('blur', function() {
            let cnpj = $(this).val().replace(/\D/g, ''); // Remove caracteres não numéricos
    
            if (cnpj.length === 14) {
                $.ajax({
                    url: "{% url 'validate_cnpj' %}", // URL da view
                    method: "GET",
                    data: { cnpj: cnpj }, // Dados enviados para o servidor
                    success: function(data) {
                        // Preenche os campos com os dados retornados
                        $('#id_empresa_nome').val(data.name);
                        $('#id_empresa_razao_social').val(data.razao_social);
                        $('#id_cep').val(data.cep);
                        $('#id_numero').val(data.numero);
                    },
                    error: function(xhr) {
                        alert(xhr.responseJSON.error || 'Erro ao buscar o CNPJ.');
                    }
                });
            } else {
                alert('CNPJ inválido! Digite 14 números.');
            }
        });
    });
    </script>
    
{% endblock %}