{% extends "dashboard/base.html" %}

{% block content %}
<h2>Estágios com Relatórios Pendentes</h2>

{% if relatorios_por_estagio %}
    {% for grupo in relatorios_por_estagio.values %}
        <div class="card mb-3">
            <div class="card-header">
                Estagiário:<h2>{{ grupo.estagio.estagiario }}</h2>
                Empresa: <strong>{{ grupo.estagio.empresa }}</strong> 
            </div>
            <ul class="list-group list-group-flush">
                {% for relatorio in grupo.relatorios %}
                <li class="list-group-item">
                    <strong>{{ relatorio.tipo }}</strong> - {{ relatorio.data_prevista }} -  
                    <small class="text-muted">{{ relatorio.dias_atraso }}</small>
                </li>
                
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p>Nenhum relatório pendente encontrado.</p>
{% endif %}
{% endblock %}
