{% extends "dashboard/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container-fluid">
    <h2>Estagiários</h2>
    
    <!-- Botão para cadastrar novo estagiário -->
    <div class="add-button mb-3">
        <a href="{% url 'cadastrar_estagiario' %}" class="btn btn-success">Cadastrar Novo Estagiário</a>
    </div>
    <!-- Filtro de estagiários -->
    <form method="get">
        <div class="row">
            <div class="col-md-3">
                <input type="text" name="search" class="form-control" placeholder="Buscar por nome">
            </div>
            
            <div class="col-md-3">
                <input type="text" name="search-matricula" class="form-control" placeholder="Buscar por matrícula">
            </div>
            
            <div class="col-md-3">
                <select name="curso" class="form-select">
                    <option value="">Todos os cursos</option>
                    {% for curso in cursos %}
                        <option value="{{ curso }}">{{ curso }}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="col-md-3 d-flex">
                <button class="btn btn-primary w-100" type="submit"><i class="fa-solid fa-filter"></i> Filtrar</button>
            </div>
        </div>
    </form>
    <hr>
    <!-- Lista de estagiários -->
    {% if estagiarios %}
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Matricula</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for estagiario in estagiarios %}
                    <tr>
                        <td>{{ estagiario.nome_completo }} </td>
                        <td>{{ estagiario.curso }}</td>

                        <td>{{ estagiario.matricula }}</td>
                        <td>{{ estagiario.email }}</td>

                        
                        <td>
                            <a href="{% url 'editar_estagiario' estagiario.id %}" class="btn btn-primary"><i class="fa-solid fa-pen"></i>Editar</a>
                            <a href="{% url 'deletar_estagiario' estagiario.id %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há estagiários cadastrados.</p>
    {% endif %}
</div>
{% endblock %}
