{% extends "dashboard/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <h2>Estagiários Cadastrados</h2>
    
    <!-- Botão para cadastrar novo estagiário -->
    <div class="add-button mb-3">
        <a href="{% url 'cadastrar_estagiario' %}" class="btn btn-primary">Cadastrar Novo Estagiário</a>
    </div>

    <form method="get">
        <input type="text" name="search" placeholder="Buscar por nome">
        <select name="curso">
            <option value="">Todos os cursos</option>
            {% for curso in cursos %}
            <option value="{{ curso }}">{{ curso }}</option>
            {% endfor %}
        </select>
        <select name="instituicao">
            <option value="">Todas as instituições</option>
            {% for instituicao in instituicoes %}
            <option value="{{ instituicao }}">{{ instituicao }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <!-- Lista de estagiários -->
    {% if estagiarios %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for estagiario in estagiarios %}
                    <tr>
                        <td>{{ estagiario.primeiro_nome }} {{ estagiario.sobrenome }}</td>
                        <td>{{ estagiario.curso }}</td>

                        <td>{{ estagiario.email }}</td>
                        <td>{{ estagiario.telefone }}</td>

                        
                        <td>
                            <a href="" class="btn btn-info btn-sm">Ver Detalhes</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há estagiários cadastrados.</p>
    {% endif %}
</div>
{% endblock %}
